@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --f-all: "Sour Gummy", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-all);
}

body {
    background: url(../assets/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.073), rgba(0, 0, 0, 0.2));
    z-index: -1;
}

/* GAME CONTAINER */

.game {
    width: 100%;
    min-height: 100vh;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    position: relative;
}

/* GAME CONTROLS */

.game-controls {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    z-index: 2;
}

.game-button {
    padding: 5px 25px;
    font-size: 2rem;
    border-radius: 0.5rem;
    border: 0;
    color: white;
    background-color: rgb(255, 85, 0);
    border-top: 1px solid rgba(255,255,255,0.05);
    box-shadow: 0 2px 0 black;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 300;
    transition: transform 100ms, box-shadow 100ms;
}

.game-button:active {
    transform: translateY(2px);
    box-shadow: 0 0 0 black;
}

.game-controls-hidden {
    display: none;
}

/* GAME ITSELF */

.game-itself {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.game-itself-active {
    display: unset;
}

/* GAME ITSELF POINTS */

.game-itself-points-container {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    column-gap: 100px;
    pointer-events: none;
}

.game-itself-score,
.game-itself-missed {
    color: white;
    background-color: rgb(255, 85, 0);
    padding: 5px 15px;
    border-radius: 0.5rem;
    border-top: 1px solid rgba(255,255,255,0.5);
    box-shadow: 0 1px 0 black;
}

/* GAME ITSELF IMAGE */

.game-itself-image {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.game-itself-image-dropping {
    animation: 2s infinite fruit-image-dropping;
}

@keyframes fruit-image-dropping {
    to{top: 100%;}
}

.game-itself-image-itself {
    width: 100%;
    height: 100%;
    object-fit: cover;
}